doctype html
html(lang="en")
  head
    title= "Nautical Calculation Guide"
    link(rel="stylesheet" href="./assets/NauticalCalculationGuideMain.css")
  body
    div#app
    script(type="text/javascript" src="./assets/NauticalCalculationGuideClient.pkg.js")


